<!DOCTYPE HTML>
<head><title>Goods</title>
	<style>
		.err { color:red; }
	</style>
</head>
<body>
	<h1>Goodsテーブル</h1>
	<form method="post" action="/" th:object="${formGoods}">
		id<input type="text" name="id" th:value="*{id}" th:errorclass="err" />
		<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="err"></div><br>

		名前<input type="text" name="name" th:value="*{name}" th:errorclass="err" />
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err"></div><br>

		値段<input type="text" name="price" th:value="*{price}" th:errorclass="err" />
		<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="err"></div><br>
		<input type="submit" /><br><br>
	</form>

	<table border="1">
	<tr><th>ID</th><th>名前</th><th>値段</th></tr>
	<tr th:each="obj : ${htmllist}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.name}"></td>
		<td th:text="${obj.price}"></td></tr>
	</table>
</body>
</html>
